<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Users</h1>
  <% if (data.length > 0) { 
    let i = 1; %>     
  <table border="1">
    <thead>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </thead>
    <% data.forEach(element => { %>
    <tbody>
      <tr> 
        <td><%- i %></td>
        <td><%- element.name %></td>
        <td><%- element.email %></td>
        <td><%- element.phone_number %></td>
      </tr>
    </tbody>
    <% i++ }) %>
  </table>
  <% } else {  %>
    <h1>Data still empty</h1>
  <% } %>
</body>
</html>